# Python
__pycache__/
*.py[cod]
*$py.class

# Venv / Environments
venv/
.venv/
env/
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
logs/

# MacOS
.DS_Store

# Docker
docker-data/
redis_data/

# Build distrib
dist/
build/
*.egg-info/
